TSB100UserProfileWebSite/TSB100UserProfileWebSite/Connected Services/ProfileServiceReference/UserProfileService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TSB100UserProfileService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TSB100UserProfileService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54460/UserProfileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Policy" />
  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountStatus" nillable="true" type="tns:ArrayOfAccountStatus" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalCodeNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Phonenumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Security.Policy" minOccurs="0" name="Picture" nillable="true" type="q1:Url" />
      <xs:element minOccurs="0" name="Review" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfAccountStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountStatus" nillable="true" type="tns:AccountStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountStatus" nillable="true" type="tns:ArrayOfAccountStatus" />
  <xs:complexType name="AccountStatus">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AccountStatus" nillable="true" type="tns:AccountStatus" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>